<!DOCTYPE html>
<html ng-app="tttApp">
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
		<script src="/javascripts/dirPagination.js"></script>
		<script src="/javascripts/main.js"></script>
	</head>
	
	<body>
		<div class="table-container ttt-centered">
			<div>
				<h1><%= title %></h1>
			</div>			
			<p>Welcome to <%= title %></p>
			<a class="text-primary ttt-centered" href="https://github.com/jroratorio/tttDemo">Github Source</a>
			<hr />
			<p class="text-muted">
				Enter a positive integer N to retrieve N most frequently occurring words from a text file at this <a class="text-primary ttt-centered" href="http://terriblytinytales.com/test.txt">url</a>
			</p>
		</div>
		
		<div ng-controller="mainController">
			<form ng-submit="(num > 0) && getResults()" class="table-container ttt-centered">
				<input autofocus placeholder="{{ placeholder }}" class="ttt-centered form-control col-centered col-lg-4" type="number" ng-model="num" min="1">
				<input ng-hide="loading" class="ttt-btn btn btn-default btn-primary btn-md" type="submit" value="Click for results">
				<p ng-hide="(num === '' || num > 0)" class="ttt-btn col-centered alert alert-warning">Entered number should be positive</p>
				<p><img class="ttt-btn" src="images/loading.gif" ng-show="loading"></p>
			</form>

			<div class="table-container">
				<table class="table table-bordered w3-animate-opacity" ng-cloak>
					<tr ng-if="data" class="table-head w3-animate-opacity">
						<th class="ttt-centered ">Word</th>
						<th class="ttt-centered">Frequency</th>
					</tr>
					<tr dir-paginate="element in data.data | itemsPerPage:itemsPerPage" class="w3-animate-opacity">
						<td class="ttt-centered w3-container w3-center w3-animate-left">{{ element.name }}</td>
						<td class="ttt-centered w3-container w3-center w3-animate-left">{{ element.total }}</td>					
					</tr>					
				</table>
				
				<div class="ttt-centered">
					<dir-pagination-controls max-size = "itemsPerPage" direction-links = "true" boundary-links = "true" ></dir-pagination-controls>
				</div>				
			</div>
		</div>	
	</body>
</html>
